all:
  hosts:
%{ for index, hosts in k8s_master ~}
    master-${index}:
      ansible_host: ${ hosts.nat_ip_address }
%{ endfor ~}
%{ for index, hosts in k8s_worker ~}
    worker-${index}:
      ansible_host: ${ hosts.nat_ip_address }
%{ endfor ~}
  vars:
    ansible_user: kunaev
    ansible_ssh_private_key_file: "~/.ssh/settings"
    ansible_become_method: sudo
masters:
  hosts:
%{ for index, hosts in k8s_master ~}
    master-${index}:
%{ endfor ~}
workers:
  hosts:
%{ for index, hosts in k8s_worker ~}
    worker-${index}:
%{ endfor ~}